[submodule "ZZZ_UpdateLists"]
	path = modhooker
	url = https://github.com/Tahvohck/Planetbase_Modhooker.git
[submodule "MoreResourcesAtStart"]
	path = MoreResourcesAtStart
	url = ./MoreResourcesAtStart
[submodule "BiggerFoodMachines"]
	path = BiggerFoodMachines
	url = https://github.com/Tahvohck/Planetbase-BiggerFoodMachines.git
[submodule "UnlockAllAtStart"]
	path = UnlockAllAtStart
	url = https://github.com/Tahvohck/Planetbase-UnlockMoreAtStart.git
[submodule "AutoConnections"]
	path = JPF_AutoConnections
	url = https://github.com/Tahvohck/Planetbase-AutoConnections.git
[submodule "_Utilities"]
	path = _Utilities
	url = https://github.com/Tahvohck/Planetbase-PBUtilities.git
